body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.container {
  padding: 2.5rem 0 2.5rem 0;
  margin: auto;
  max-width: 71.25rem;
  padding: 0 1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 5rem;
  align-items: center;
}

.inner {
  margin-right: auto;
  color:#ea8478;
}

.outer {
  display: flex;
}

 li {
  display: inline;
  margin: 1rem;
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;
  grid-template-rows: auto;
  grid-gap: 1rem;
  flex-flow: row wrap;
  flex-direction: column;
}

.grid > div {
  background-color: lightsteelblue;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.grid > div:nth-of-type(1) {
  grid-column: 1 / 5;
}
.grid > div:nth-of-type(2) {
  grid-column: 5 / 9;
}
.grid > div:nth-of-type(3) {
  grid-column: 9 / 13;
}
.grid > div:nth-of-type(4) {
  grid-column: 1 / 7;
}
.grid > div:nth-of-type(5) {
  grid-column: 7 / 13;
}
.grid > div:nth-of-type(6) {
  grid-column: 1 / 13;
}

.bg1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/1920x1081/?');
}

.bg2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/1920x1081/?');
}

.bg3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/1920x1081/?')
}

.bg4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/1920x1081/?')
}

.bg5 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/1920x1081/?')
}

.bg6 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/1920x1081/?')
}

footer {
  width: 100%;
  height: 150px;
  background-color:#f7f7f7;
  color: #8e8e8e;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}